
<div class="breadcrumbs">
    <div class="container">
        <ul>
            <li><a href="#"><img src="img/home.png" alt="img"></a></li>
            <li><a href="#">О компании</a></li>
        </ul>
    </div>
</div>