    <footer class="footer-pages">
        <div class="container">
            <div class="top-menu">
                <a href="#" class="logo">
                    <img src="img/logo.jpg" alt="img">
                </a>
                <ul>
                    <li><a href="#">О нас</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
                <a class="personal-account" href="#">
                    Личный кабинет
                </a>
            </div>
            <div class="bottom-menu">
                <ul>
                    <li><a href="#">AML & Privacy Policy (pdf)</a></li>
                    <li><a href="#">Consent to personal data processing (pdf)</a></li>
                    <li><a href="#">Offerta</a></li>
                    <li><a href="#">Terms and Conditions</a></li>
                </ul>
                <div class="app-box">
                    <ul>
                        <li><a href="#"><img src="img/apple.png" alt="img"></a></li>
                        <li><a href="#"><img src="img/play.png" alt="img"></a></li>
                        <li><a href="#"><img src="img/win.png" alt="img"></a></li>
                    </ul>
                </div>
            </div>
            <div class="payment-logo">
                <ul>
                    <li><img src="img/46434.jpg" alt="img"></li>
                    <li><img src="img/3254.jpg" alt="img"></li>
                    <li><img src="img/3122.jpg" alt="img"></li>
                    <li><img src="img/43234.jpg" alt="img"></li>
                    <li><img src="img/234.jpg" alt="img"></li>
                    <li><img src="img/324324.jpg" alt="img"></li>
                    <li><img src="img/3423.jpg" alt="img"></li>
                    <li><img src="img/3344.jpg" alt="img"></li>
                    <li><img src="img/23534.jpg" alt="img"></li>
                    <li><img src="img/4refwr.jpg" alt="img"></li>
                    <li><img src="img/42543254.jpg" alt="img"></li>
                    <li><img src="img/2432.jpg" alt="img"></li>
                </ul>
            </div>
        </div>
    </footer>

    <script src="js/bundle.js"></script>
  </body>
</html>
