/*
FONTS LOOP
 */
@font-face {
  font-family: 'Roboto-Thin';
  src: url('../fonts/Roboto-Thin.ttf') format("truetype");
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto-Regular.ttf') format("truetype");
}
@font-face {
  font-family: 'Roboto-Medium';
  src: url('../fonts/Roboto-Medium.ttf') format("truetype");
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url('../fonts/Roboto-Bold.ttf') format("truetype");
}
@font-face {
  font-family: 'Roboto-Black';
  src: url('../fonts/Roboto-Black.ttf') format("truetype");
}

$f100:'Roboto-Thin';
$r300:'Roboto-Regular';
$r500:'Roboto-Medium';
$r600:'Roboto-Bold';
$r900:'Roboto-Black';
