.view-footer {
  position: relative;
  width: 100%;
  order: 3;
}

.footer-pages {

    .top-menu {
      display: flex;
      padding-top: 70px;
      border-top: 1px solid #ccd1d7;
      .logo {

        img {

        }
      }

      ul {
        display: flex;
        align-items: center;
        margin-left: auto;
        li {
          margin: 0 30px;
          a {
            font: 16px $r500;
            text-decoration: none;
            color: #1c2c37;
            &:hover{
              color: #0474f0;
            }
          }
        }
      }

      .personal-account {
        font: 16px $r500;
          border-width: 1px;
          border-color: rgb(4, 116, 240);
          border-style: solid;
          border-radius: 4px;
          background-color: rgb(4, 116, 240);
          width: 183px;
          height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        text-decoration: none;
      }
    }

    .bottom-menu {
       display: flex;
      align-items: center;
      margin-top: 35px;
      padding-bottom: 65px;
      border-bottom: 1px solid #ccd1d7;
    & >  ul {
      display: flex;
        justify-content: space-between;
      width: calc(100% - 300px);
        li {

          a {
            text-decoration: none;
            border-bottom: 1px solid #282a31;
            color: #282a31;
            font: 14px $r300;
            &:hover{
              color: #0474f0;
            }
          }
        }
      }

      .app-box {
        margin-left: auto;
        ul {
        display: flex;
          align-items: center;
          li {
            margin-left: 15px;
            a {
                border-radius: 4px;
                background-color: rgb(241, 247, 254);
              display: flex;
              align-items: center;
              justify-content: center;
              text-decoration: none;
                width: 70px;
                height: 60px;
              border-bottom: none;

              img {

              }
            }
          }
        }
      }
    }

    .payment-logo {
        padding: 35px 0;
      ul {
      display: flex;
        align-items: center;
        justify-content: space-between;
        li {

          img {

          }
        }
      }
    }
}