.view-header {
  position: relative;
  width: 100%;
  order: 1;
}
.header-pages {
  z-index: 4;
  position: relative;
    .header-content {
        display: flex;
      align-items: center;
      padding-top: 25px;
      padding-bottom: 35px;
      .logo {
        margin-right: 40px;
        #logo {

        }
      }

      .left-meu {
        display: flex;
        align-items: center;
        li {
          margin: 0 10px;
          a {
            text-decoration: none;
            font:14px $r500 ;
            color: #506377;
            &:hover{
              color: #0474f0;
            }
          }
        }
      }

      .right-menu {
        margin-left: auto;
        display: flex;
        align-items: center;
        li {
          margin: 0 10px;
          a {
            text-decoration: none;
            font:14px $r500 ;
            color: #506377;
            &:hover{
              color: #0474f0;
            }
          }
        }
      }

      .lange-list {
        margin-left: 50px;
        display: flex;
        flex-direction: column;
        width: 92px;
        height: 50px;
        align-items: center;
        justify-content: center;
        position: relative;


        span{
          position: absolute;
          bottom: -30px;
          display: none;
          &.is-active{
            display: flex;
          }
        }
        &.is-active{
          &:before{
            position: absolute;
            width: 100%;
            content: '';
            left: 0;
            top: -10px;
            background-color: rgb(255, 255, 255);
            box-shadow: 0px 35px 27px 0px rgba(1, 61, 127, 0.24);
            height: 90px;
          }
          span{
            display: flex;
            margin-bottom: 20px;

          }
        }
        span {
          order: 2;
          margin-top: 5px;
          font: 16px $r500;
          color: #1c2c37;
          cursor: pointer;
          &:hover{
            color: #0474f0;
          }
          &.is-active{
            position: relative;
            order: 0;
            bottom: 0;
          }
          img {
            margin-right: 12px;
          }
        }
      }
    }

    .header-center-menu {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-bottom: 33px;
      border-bottom: 1px solid #ccd1d7;
      .tel-box {
        display: flex;
        align-items: center;
        a {
          display: flex;
          align-items: center;
          text-decoration: none;
          font: 16px $r500;
          color: #1c2c37;
          margin-right: 35px;
            img{
              margin-right: 10px;
            }
        }

        p {
          display: flex;
          flex-direction: column;
          color: #506377;
          font:12px $r500;
          span {

          }
        }
      }

      .button-box {
        display: flex;
        align-items: center;
        margin-left: 50px;
        .user-button {
            border-width: 1px;
            border-color: rgb(4, 116, 240);
            border-style: solid;
            border-radius: 4px;
            width: 58px;
            height: 48px;
            z-index: 11;
            display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 20px;

          img {

          }
        }

        .authorization {
            border-width: 1px;
            border-color: rgb(4, 116, 240);
            border-style: solid;
            border-radius: 4px;
            background-color: rgb(4, 116, 240);
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            font: 16px $r500;
            width: 155px;
            height: 48px;
          text-decoration: none;

        }
      }
    }

    .button-menu {

    & >  ul {
        display: flex;
        justify-content: space-between;
        li {
          margin: 0 10px;
          position: relative;
          a {
            text-decoration: none;
            font:16px $r500 ;
            color: #1c2c37;
            padding: 35px 0;
            display: flex;
            align-items: center;
            &:hover{
              color: #0474f0;
            }
          }
          &.drop-menu{

            &.is-active{
              & > ul{
                display: block;
              }
              &:before{
                transform: rotate(-135deg);
              }
            }
            &:before{
              right: -14px;
              top: calc(50% - 3px);
              position: absolute;
              width: 6px;
              height: 6px;
              border-right: 2px solid #0474f0;
              border-bottom:2px solid #0474f0;
              content:'';
              transform: rotate(45deg);
            }
            & >  ul {
              position: absolute;
              top:88px;
              width: 260px;
              background: #fff;
              padding: 0 50px 0;
              left: -50px;
              display: none;
              li {
                padding-bottom: 26px;
                margin: 0;
                a {
                  font:14px $r300;
                  color: #506377;
                  padding: 0;
                  &:hover{
                    color: #0474f0;
                  }
                }
              }
            }
            &:hover{
              & > ul{
                display: block;
              }
            }

          }
        }
      }
    }

}

.header-cabinet {
  padding-left: 40px;
    .header-content {
      display: flex;
      align-items: center;
      padding-top: 25px;
      padding-bottom: 35px;
      justify-content: space-between;
      .logo {
        margin-right: 40px;
        #logo {

        }
      }

      .left-meu {
        display: flex;
        align-items: center;
        li {
          margin: 0 10px;
          a {
            text-decoration: none;
            font:14px $r500 ;
            color: #506377;
            &:hover{
              color: #0474f0;
            }
          }
        }
      }

      .right-menu {
        margin-left: auto;
        display: flex;
        align-items: center;
        li {
          margin: 0 10px;
          a {
            text-decoration: none;
            font:14px $r500 ;
            color: #506377;
            &:hover{
              color: #0474f0;
            }
          }
        }
      }

      .lange-list {
        margin-left: 50px;
        display: flex;
        flex-direction: column;
        width: 92px;
        height: 50px;
        align-items: center;
        justify-content: center;
        position: relative;
        span{
          position: absolute;
          bottom: -30px;
          display: none;
          &.is-active{
            display: flex;
          }
        }
        &.is-active{
          &:before{
            position: absolute;
            width: 100%;
            content: '';
            left: 0;
            top: -10px;
            background-color: rgb(255, 255, 255);
            box-shadow: 0px 35px 27px 0px rgba(1, 61, 127, 0.24);
            height: 90px;
          }
          span{
            display: flex;
            margin-bottom: 20px;

          }
        }
        span {
          order: 2;
          margin-top: 5px;
          font: 16px $r500;
          color: #1c2c37;
          cursor: pointer;
          &:hover{
            color: #0474f0;
          }
          &.is-active{
            position: relative;
            order: 0;
            bottom: 0;
          }
          img {
            margin-right: 12px;
          }
        }
      }
    }
    .tel-box {
      display: flex;
      align-items: center;
      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        font: 16px $r500;
        color: #1c2c37;
        margin-right: 35px;
        img{
          margin-right: 10px;
        }
      }

      p {
        display: flex;
        flex-direction: column;
        color: #506377;
        font:12px $r500;
        span {

        }
      }
    }
  .lange-list {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    width: 92px;
    height: 50px;
    align-items: center;
    justify-content: center;
    position: relative;


    span{
      position: absolute;
      bottom: -30px;
      display: none;
      &.is-active{
        display: flex;
      }
    }
    &.is-active{
      &:before{
        position: absolute;
        width: 100%;
        content: '';
        left: 0;
        top: -10px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 35px 27px 0px rgba(1, 61, 127, 0.24);
        height: 90px;
      }
      span{
        display: flex;
        margin-bottom: 20px;

      }
    }
    span {
      order: 2;
      margin-top: 5px;
      font: 16px $r500;
      color: #1c2c37;
      cursor: pointer;
      &:hover{
        color: #0474f0;
      }
      &.is-active{
        position: relative;
        order: 0;
        bottom: 0;
      }
      img {
        margin-right: 12px;
      }
    }
  }
  }