.about-us {

  .about-us-banner {
      background-image: url("../img/about-b.jpg");
    padding-top: 38px;
    background-repeat: no-repeat;
    padding-bottom: 130px;
      .about-us-banner--content {
        max-width: 600px;
        h1 {
          padding-top: 80px;
          padding-bottom: 45px;
          color: #ffffff;
          font: 48px $f100;
        }

        p {
        padding: 0;
          font: 14px/1.7 $f100;
          color: #ffffff;
        }
      }
  }

  .forex {
    margin-top: 84px;
    .container {

      .forex-content {

        .title-section {
          font: 48px $f100;
          color: #010101;
          padding-bottom: 48px  ;
          max-width: 800px;
        }

        p {
          font: 14px/1.8 $r300;
          padding-top: 0;
          padding-bottom: 28px;
          color: #506377;
          a {
            font: 14px $r500;
            color: #0474f0;
          }
        }
      }
    }
  }

  .center-banner {
    margin-top: 60px;
    .container {

      .center-banner--content {
        background-image:url("../img/frrk.jpg") ;
        background-size: cover;
        width: 100%;
        margin: 0 auto  ;
        padding: 100px 0 ;
        .center-banner--text {

          width: 405px;
          margin-left: auto;
          margin-right: 45px;
          .title-section {
            font: 48px $f100;
            color: #fff;
            max-width: 455px;
          }

          p {
            font: 14px/1.9 $f100;
            color: #fff;
            max-width: 620px;
            padding: 35px 0 60px;
          }
          a {
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
            background-color: rgb(255, 255, 255);
            width: 157px;
            height: 60px;
            font: 14px $r500;
            color: #0474f0;

          }
        }
      }
    }
  }

  .why {
    margin-top: 95px;
    .container {

      .title-section {
        font: 48px $f100;
        color: #010101;
      }

      .why-content {
        margin-top: 55px;
        display: flex;
        justify-content: space-between;
        ul {
          width: calc(50% - 23px);
          li {
            font: 14px $r300;
            margin-left: 30px;
            position: relative;
            color: #506377;
            padding-bottom: 25px;
            &:before{
              content:'';
              position: absolute;
              left: -25px;
              top: 5px;
              width: 5px;
              height: 5px;
              background: #0474f0;
              border-radius: 50%;
            }
            a{
              font: 14px$r500;
              color: #0474f0;
            }
          }
        }

        ol {
          width: calc(50% - 23px);
          li {
            font: 14px $r300;
            color: #506377;
            padding-bottom: 25px;
            position: relative;
            padding-left: 35px;
            counter-increment: num;
            &:before{
              width: 22px;
              height: 22px;
              border-radius: 50%;
              border: 1px solid #0474f0;
              color: #0474f0;
              top: -3px;
              font: 14px $r300;
              left: 0;
              display: flex;
              align-items: center;
              justify-content: center;
              position: absolute;
              content: counter(num)
            }
            a{
              font: 14px$r500;
              color: #0474f0;
            }
          }
        }
      }

      .why-box {
        margin-top: 50px;
        ul {
            display: flex;
          flex-wrap: wrap;

          justify-content: space-between;
          li {
              background-color: rgb(255, 255, 255);
              box-shadow: 0px 17px 27px 0px rgba(1, 61, 127, 0.16);
            width: calc(100% / 3 - 20px);
            margin-bottom: 30px;
            padding: 45px 45px 40px;
            img {

            }

            .title {
              padding-top: 30px;
              font: 16px  $r500;
              color: #000000;
            }

            p {
              font: 14px $r300;
              color: #506377;
              padding: 22px 0 0;
            }
          }
        }
      }
    }
  }

  .work-site {
    background-image:url("../img/site.jpg") ;
    background-position:top right;
    background-size: cover;
    max-width: 1170px;
    width: 100%;
    margin: 80px auto 0 ;
    padding: 100px 15px 150px;
    .work-site--content {
      width: 405px;
      margin-left: auto;
      margin-right: 45px;
      .title-section {
        font: 48px $f100;
        color: #fff;
        max-width: 455px;
      }

      p {
        font: 14px/1.9 $f100;
        color: #fff;
        max-width: 620px;
        padding: 35px 0 60px;
      }
      a {
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        background-color: rgb(255, 255, 255);
        width: 157px;
        height: 60px;
        font: 14px $r500;
        color: #0474f0;

      }
    }
  }

  .news {
    margin-top: 20px;
    .container {

      .news-header {
        display: flex;
        align-items: center;
        .title-section {
          font: 48px $f100;
          color: #010101;
        }

        a {
          color: #0474f0;
          position: relative;
          text-decoration: none;
          display: block;
          margin-left: 55px;
          font:14px $r500 ;
          &:before{
            width:12px ;
            position: absolute;
            right: -26px;
            height: 1px;
            background: #0474f0;
            content:'';
            top: 50%;
          }
          &:after{
            position: absolute;
            right: -26px;
            height: 7px;
            top: calc(50% - 3px);
            width: 7px;
            border-right: 1px solid #0474f0;
            border-bottom: 1px solid #0474f0;
            content:'';
            transform: rotate(-45deg);
          }
        }
      }

      .news-content {
        margin-top: 50px;
        ul {
          display: flex;
          justify-content: space-between;
          li {
            padding: 45px;
              background-color: rgb(255, 255, 255);
              box-shadow: 0px 17px 27px 0px rgba(1, 61, 127, 0.16);
            width: calc(50% - 15px);

            span {
                display: flex;
              align-items: center;
              font:14px $r300;
              color: #506377;
              img {
                margin-right: 12px;
              }
            }

            .title {
              font: 16px $r500;
              color: #000000;
              padding-top: 25px;
              padding-bottom: 55px;
            }

            .fotter-box {
              display: flex;
              justify-content: space-between;
              .date {
                font:14px $r300;
                color: #506377;
              }

              a {
                color: #0474f0;
                position: relative;
                text-decoration: none;
                display: block;
                margin-left: 55px;
                font:14px $r500 ;
                &:before{
                  width:12px ;
                  position: absolute;
                  right: -26px;
                  height: 1px;
                  background: #0474f0;
                  content:'';
                  top: 50%;
                }
                &:after{
                  position: absolute;
                  right: -26px;
                  height: 7px;
                  top: calc(50% - 3px);
                  width: 7px;
                  border-right: 1px solid #0474f0;
                  border-bottom: 1px solid #0474f0;
                  content:'';
                  transform: rotate(-45deg);
                }
              }
            }
          }
        }
      }
    }
  }

  .currency-market {
    margin-top: 100px;
    .container {

      .currency-market--content {

        .title-section {
          font: 48px $f100;
          color: #010101;
          padding-bottom: 55px;
        }


        p {
          padding-top: 0;
          padding-bottom: 25px;
          font: 14px/2 $r300;
          color: #506377;
          &:last-child{
            padding-bottom: 0;
          }
        }
      }
    }
  }

  .registration {
    background: #0474f0;
    padding: 100px 0 90px;
    margin-top: 130px;
    .registration--content {

      .title-section {
        font: 48px $f100;
        color: #fff;
      }

      p {
        color: #fff;
        padding: 40px 0 50px;
        font: 14px/1.8 $f100;
      }
    }

    form {

      .input-box{
        display: flex;
        justify-content: space-between;
        width: calc(50% - 30px);
        input {
          width: calc(50% - 30px);
        }
      }
      .input-row {
        display: flex;
        justify-content: space-between;
        input{
          width: calc(50% - 30px);
          border: none;
          color: #fff;
          font:14px $r300;
          background: transparent;
          border-bottom: 1px solid #fff;
          margin-bottom: 30px;
          height: 50px;
          &::placeholder{
            color: #fff;
            font:14px $r300;
          }
        }
        .input-label{
          position: relative;
          display: flex;
          align-items: center;

          label{
            color: #fff;
            display: flex;
            align-items: center;
            font: 14px $r300;
            &:before{
              width: 26px;
              height: 26px;
              border: 1px solid #fff;
              position: relative;
              content:'';
              display: block;
              min-width: 26px;
              margin-right: 15px;
            }
            &:after{
              width: 8px;
              height: 8px;
              position: absolute;
              top: calc(50% - 6px);
              left: 10px;
              transform: rotate(45deg);
              border-right: 2px solid #fff;
              border-bottom:  2px solid #fff;
              content:'';
              opacity: 0;
            }
          }
          input{
            position: absolute;
            width: 100%;
            margin: 0;
            cursor: pointer;
            z-index: 2;
            height: 100%;
            opacity: 0;
            &:checked + label{
              &:after{
                opacity: 1;
              }
            }
          }
        }
      }

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        background-color: rgb(255, 255, 255);
        width: 180px;
        margin: 57px auto 0;
        height: 60px;
        font: 14px $r500;
        color: #000000;
        border: none;
      }
    }
  }
}