.authorizations-pages {

  .authorizations--section {
    margin-top: 80px;
    margin-bottom: 100px;
      .authorizations--section__content {

        .authorizations-header {
          display: flex;
          align-items: center;
          h1 {
            padding: 0;
            font: 48px $f100;
            color: #010101;
          }

          a {
              color: #0474f0;
              position: relative;
              text-decoration: none;
            display: block;
            margin-left: 55px;
            font:14px $r500 ;
            &:before{
              width:12px ;
              position: absolute;
              right: -26px;
              height: 1px;
              background: #0474f0;
              content:'';
              top: 50%;
            }
            &:after{
              position: absolute;
              right: -26px;
              height: 7px;
              top: calc(50% - 3px);
              width: 7px;
              border-right: 1px solid #0474f0;
              border-bottom: 1px solid #0474f0;
              content:'';
              transform: rotate(-45deg);
            }
          }
        }

        .authorizations-form {
          background-image: url("../img/efwfe.jpg");
          background-position: left;
          background-repeat: no-repeat;
          margin-top: 50px;
          form {
            width: 500px;
            padding-bottom: 75px;
            padding-top: 65px;
            margin-left: 70px;

            input {
              width:100%;
              border: none;
              color: #fff;
              font:14px $r300;
              background: transparent;
              border-bottom: 1px solid #fff;
              margin-bottom: 30px;
              height: 50px;
              &::placeholder{
                color: #fff;
                font:14px $r300;
              }
            }

            .button-box {
              display: flex;
              align-items: center;
              margin-top: 40px;
              button {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 4px;
                background-color: rgb(255, 255, 255);
                width: 180px;
                height: 60px;
                font: 14px $r500;
                color: #000000;
                border: none;
              }

              a {
                font: 14px $f100;
                color: #fff;
                display: block;
                margin-left: 70px;
              }
            }
          }
        }
      }
  }
}