.personal-area{
  max-width: 1560px;
  padding-right: 15px;
  width: 100%;
  main {
    display: flex;
    .container{
      padding: 0;
    }
    aside {
      width: 331px;
      padding: 40px 35px;
      background: #0474f0;
      min-width: 313px;
      .aside-header {
        display: flex;
        align-items: center;
        .img-box {
          width: 70px;
          height: 70px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #fff;
          border-radius: 50%;
          position: relative;
          img {

          }

          button {
            background: none;
            border: none;
            width: 25px;
            height: 25px;
            position: absolute;
            bottom: -2px;
            right: -2px;
            img {

            }
          }
        }

        p {
          padding-left: 20px;
          color: #fff;
          padding-bottom: 0;
          padding-top: 0;
          font: 18px $r500;
        }
      }

      .list {
        margin-top: 40px;

        li {
          width: 100%;
          display: flex;
          align-items: center;
          border-width: 1px;
          border-color: rgb(255, 255, 255);
          border-style: solid;
          border-radius: 4px;
          color: #ffffff;
          height: 58px;
          font: 14px $r500;
          margin-bottom: 15px;
          padding: 0 25px;
          cursor: pointer;
          &.is-active, &:hover{
            background-color: rgb(255, 255, 255);
            color: #1c2c37;
              img{
                filter: invert(1);
              }
          }
            img {
              margin-right: 20px;
          }
        }
      }
    }

    .personal-area--content {
      border-top: 1px solid #ccd1d7;
      margin-left: 60px;
      padding-top: 30px;
      width: calc(100% - 391px);
      section {

        .tab-container {

          .tab-content {
            margin-top: 55px;
            display: none;
            &.is-active{
              display: block;
            }
            .title {
              display: flex;
              justify-content: space-between;
              .verification{
                display: flex;
                align-items: center;
                p{
                  font: 15px $r300;
                  color: #506377;
                }
                span{
                  margin-left: 50px;
                  font: 16px Roboto-Medium;
                  border: 1px solid #0474f0;
                  border-radius: 4px;
                  background-color: #fff;
                  width: 183px;
                  height: 48px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  color: #0474f0;
                }
              }
              h2 {
                padding: 0;
                font: 48px $r300;
              }

              .open-count {
                  color: #0474f0;
                cursor: pointer;
                font: 14px $r500;
                display: flex;
                align-items: center;
                justify-content: center;
                  border-width: 1px;
                  border-color: rgb(4, 116, 240);
                  border-style: solid;
                  border-radius: 4px;
                  background-color: rgba(4, 116, 240, 0);
                  width: 191px;
                  height: 58px;
                span{
                  border-radius: 50%;
                  border: 1px solid #0474f0;
                  font: 14px $r500;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 15px;
                  height: 15px  ;
                  margin-right: 15px;
                }

              }
            }

            .table-count {
              padding: 55px 70px 20px;
              margin-top: 63px;
              background: #f6f6f6;
              margin-bottom: 90px;
              .table-count--header {
                display: flex;

                align-items: center;
                p {
                  font: 14px $r300;
                  color: #506377;
                  padding: 0;
                  margin-right: 20px;
                  &:nth-child(1){
                    width: 45px;
                  }
                  &:nth-child(2){
                    width: 120px;
                  }
                  &:nth-child(3){
                    width: 200px;
                  }
                  &:nth-child(4),
                  &:nth-child(5),
                  &:nth-child(6){
                    width: 100px;
                  }
                }
              }

              ul {
                width: 100%;
                margin-top: 25px;
                li {
                  display: flex;
                  width: 100%;
                  border-top: 1px solid #dcdbdb;
                  align-items: center;
                  p {
                    padding:30px 0;
                    display: block;
                    font: 16px $r500;
                    color: #1c2c37;
                    margin-right: 20px;
                    &:nth-child(1){
                      width: 45px;
                    }
                    &:nth-child(2){
                      width: 120px;
                    }
                    &:nth-child(3){
                      width: 200px;
                    }
                    &:nth-child(4),
                    &:nth-child(5),
                    &:nth-child(6){
                      width: 100px;
                    }
                  }

                  .add-count {
                      border-radius: 4px;
                      background-color: rgb(4, 116, 240);
                      width: 145px;
                      height: 40px;
                    margin-left: auto;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #fff;
                    font: 14px $r500;

                  }
                }
              }
            }
            .upp-count {
                background-color: rgb(255, 255, 255);
                box-shadow: 0px 17px 27px 0px rgba(1, 61, 127, 0.16);
              padding: 60px 70px;
              margin-top: 55px;
              form {

              .title-label + .input-row{
                justify-content: flex-start;
              }
                .input-box {
                width: 100%;
                    .select2{
                      width: 100% !important;
                      border-radius: 4px;
                      overflow: hidden;
                      span{
                        font: 14px $r500;
                        color: #000000;
                      }
                      b{
                        display: none;
                      }
                    .select2-selection--single{
                        border: none;
                        background: #f1f7fe;
                      height: 60px;
                      display: flex;
                      align-items: center;
                      padding: 0 20px;
                      }
                    }
                  p {
                    font: 14px $r500;
                    color: #0474f0;
                    padding-bottom: 15px;
                    padding-top: 0;
                  }
                }
                  .title-label{
                    font: 14px $r500;
                    color: #0474f0;
                    padding-bottom: 0px;
                    padding-top: 20px;
                  }
                .input-row {
                  display: flex;
                  width: 100%;
                  justify-content: space-between;
                  margin-top: 20px;

                  .box-label{
                    position: relative;
                    label{
                      border: 1px solid #ccd1d7;
                      display: flex;align-items: center;justify-content: center;
                      margin-right: 25px;
                    }
                    input{
                      cursor: pointer;
                      position: absolute;
                      width: 100%;
                      height: 100%;
                      left: 0;
                      opacity: 0;
                      &:checked+ label{
                        border: 1px solid #0474f0;
                      }
                    }
                  }
                  .input-row--box {
                    width: calc(50% - 15px);
                    p {
                      font: 14px $r500;
                      color: #0474f0;
                      padding-bottom: 15px;
                      padding-top: 0;
                      display: flex;

                      span{
                        display: block;
                        margin-left: auto;
                        color: #000000;
                        b{
                          color: #0474f0;
                        }
                      }
                    }

                    .input-el {
                      width: 100%;
                      display: flex;
                      border-radius: 4px;
                      overflow: hidden;
                      input {
                        height: 60px;
                        font: 14px $r500;
                        border: none;
                        width: calc(100% - 60px);
                        color: #000000;
                          background: #f1f7fe;

                      }

                      span {
                        width: 60px;
                        height: 60px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color:#fff;
                        background: #0474f0;
                        font: 22px $r500;
                      }
                    }
                  }
                }

                button {
                  border-radius: 4px;
                  background-color: rgb(4, 116, 240);
                  border-width: 1px;
                  border-color: rgb(4, 116, 240);
                  border-style: solid;
                  width: 183px;
                  margin-top: 45px;
                  height: 48px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  color: #fff;
                  font: 14px $r500;
                }
              }
            }
            .deposit-table {
                background: #f6f6f6;
              padding: 60px;
              margin-bottom: 80px;
              margin-top: 60px;
              .deposit-table--header {
                width: 100%;
                display: flex;
                justify-content: space-between;
                p {
                  width:  25%;
                  padding: 0;
                  color: #506377;
                  font: 14px $f100;
                }
              }

              ul {
                width: 100%;
                margin-top: 30px;
                li {
                  display: flex;
                  justify-content: space-between;
                  height: 80px;
                  align-items: center;
                  border-top: 1px solid #dcdbdb;
                  p {
                    width:  25%;
                    padding: 0;
                    font: 16px $r500;
                    color: #1c2c37;

                  }
                  span{
                    display: block;
                    width:  25%;
                    padding: 0;
                    font: 16px $r500;
                    color: #0474f0;
                    background-repeat: no-repeat;
                    padding-left: 25px;
                    background-size: contain;
                    &.status-on {
                      background-image:url("../img/icons8_checked_4.jpg") ;
                    }

                    &.status-off {
                      background-image: url("../img/fds.jpg");
                    }
                    &.status-moderation{
                        background-image: url("../img/icons8_clock_1.jpg");
                    }
                  }


                }
              }
            }
            .content-box {
                box-shadow: 0px 17px 27px 0px rgba(1, 61, 127, 0.16);
              margin-top: 36px;
              margin-bottom: 60px;
              display: flex;
              &--left{
                flex-direction: row-reverse;
              }
              .text-box {
                  padding:55px 70px ;
                max-width: 670px;
                .title-box {
                    font: 24px $r300;
                  color: #1c2c37;
                  padding-bottom: 30px;
                }

                p {
                  padding-bottom: 20px;
                  color: #506377;
                  padding-top: 0;
                  font: 15px/1.8 $r300;
                  &:last-child{
                    padding-bottom: 0;
                  }
                }
              }

              .img-box {

                img {

                }
              }
            }
            .document-img{
              display: flex;
              align-content: center;
              li{
                display: flex;
                align-items: center;
                justify-content: center;
                max-width: 320px;
                padding: 30px;
                background: #fff;
                box-shadow: 0px 17px 27px 0px rgba(1, 61, 127, 0.16);
                margin-right: 30px;
                position: relative;
                height: 220px;
                img{
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }
            }
            .download-document {
              box-shadow: 0px 17px 27px 0px rgba(1, 61, 127, 0.16);
              padding: 50px 70px;
              .title-box {
                font: 24px $r300;
                color: #1c2c37;
                padding-bottom: 30px;
              }

              p {
                padding-bottom: 20px;
                color: #506377;
                padding-top: 0;
                font: 15px/1.8 $r300;
              }

              form {
                position: relative;
                display: flex;
                align-items: center;
                #files {
                  position: absolute;
                  opacity: 0;
                  width: 1px;
                  height: 1px;
                }

                label {
                  border-radius: 4px;
                  background-color: rgb(241, 247, 254);
                  width: 70px;
                  height: 70px;
                  display: flex;
                  align-items: center;
                  cursor: pointer;
                  justify-content: center;
                  margin-right: 50px;
                  margin-left: auto;
                  font-size: 38px;
                  color: #aad1fc;
                  font-family: $r300;
                }

                #list {
                  display: flex;
                  align-items: center;
                  span{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    max-width: 320px;
                    padding: 30px;
                    background: #fff;
                      box-shadow: 0px 17px 27px 0px rgba(1, 61, 127, 0.16);
                    margin-right: 30px;
                    position: relative;
                    height: 220px;
                    &:before{
                      position: absolute;
                      top: -12px;
                      right: -12px;
                      content:'х';
                      color: #fff;
                      width: 25px;
                      height: 25px;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      border-radius: 50%;
                      background: #0474f0;
                      font-family: $f100;
                      cursor: pointer;
                    }
                    img{
                      width: 100%;
                      height: 100%;
                      object-fit: cover;
                    }
                  }
                }

                button {
                  border-radius: 4px;
                  background-color: rgb(4, 116, 240);
                  border-width: 1px;
                  border-color: rgb(4, 116, 240);
                  border-style: solid;
                  width: 183px;
                  height: 48px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  color: #fff;
                  font: 14px $r500;
                }
              }
            }
            .personal-info {
              margin-top: 60px;
              form {
                  padding: 30px 60px;
                  background-color: rgb(255, 255, 255);
                  box-shadow: 0px 17px 27px 0px rgba(1, 61, 127, 0.16);
                .input-row {
                  width: 100%;
                  display: flex;
                  justify-content: space-between;
                  .input-box {
                    width: calc(50% - 15px);
                    margin-bottom: 15px;
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    .select2{
                      width: calc(33% - 15px) !important;
                      .select2-selection{
                        height: 60px;
                        font: 14px $r500;
                        border: none;
                        color: #000;
                        background: #f1f7fe;
                      }
                      .select2-selection__rendered{
                        display: flex;
                        justify-content: center;
                        height: 60px;
                        align-items: center;
                      }
                      b{
                      display: none;
                      }
                      .select2-selection__arrow{
                        &:before{
                          position: absolute;
                          right: 12px;
                          width: 8px;
                          height: 8px;
                          border-right: 2px solid #0474f0;
                          border-bottom: 2px solid #0474f0;
                          content:'';
                          transform: rotate(45deg);
                          top: 22px;
                        }
                      }
                    }
                  }
                  p {
                    font: 14px $r500;
                    color: #0474f0;
                    width: 100%;
                    padding-bottom: 15px;
                    padding-top: 0;
                  }

                  input {
                    width: 100%;
                    height: 60px;
                    font: 14px $r500;
                    border: none;
                    color: #000;
                    background: #f1f7fe;
                  }
                }
                .button-box{
                  display: flex;
                  justify-content: flex-end;
                  align-items: center;
                  width: 100%;
                  span{
                    font: 15px $r300;
                    color: #506377;
                  }
                  button{
                    margin-left: 50px;
                    font: 16px Roboto-Medium;
                    border: 1px solid #0474f0;
                    border-radius: 4px;
                    background-color: #0474f0;
                    width: 183px;
                    height: 48px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #fff;
                    text-decoration: none;
                  }
                }
              }
            }
            .support-content {
              margin-top: 55px;
              padding: 55px 65px;
              background-color: rgb(255, 255, 255);
              box-shadow: 0px 17px 27px 0px rgba(1, 61, 127, 0.16);
              margin-bottom: 70px;
              ul {
                width: 100%;


                .user-sms {
                  display: flex;
                  width: 100%;
                  padding-bottom: 30px;
                  border-bottom: 1px solid #dcdbdb;
                  .img-box {
                    margin-right: 20px;
                    img {
                      width: 60px;
                      height: 60px;
                      border-radius: 50%;
                    }
                  }

                  .text-box {
                    width: 100%;
                    .text-box--header {
                      display: flex;
                      justify-content: space-between;
                      p {
                        font: 15px $r500;
                        color: #1c2c37;
                        padding: 0;
                      }

                      span {
                        font: 15px $r500;
                        color: #1c2c37;
                        padding: 0;
                      }
                    }

                    p {
                      font: 15px $r500;
                      color: #506377;
                      padding-bottom: 0;
                    }
                  }
                }

                .support-sms {
                  margin-top: 35px;
                  display: flex;
                  padding-left: 60px;
                  width: 100%;
                  padding-bottom: 30px;
                  border-bottom: 1px solid #dcdbdb;
                  .img-box {
                    margin-right: 20px;
                    img {
                      width: 60px;
                      height: 60px;
                      border-radius: 50%;
                    }
                  }

                  .text-box {
                    width: 100%;
                    .text-box--header {
                      display: flex;
                      justify-content: space-between;
                      p {
                        font: 15px/1.8 $r500;
                        color: #0474f0;
                        padding: 0;
                      }

                      span {
                        font: 15px $r500;
                        color: #1c2c37;
                        padding: 0;
                      }
                    }

                    p {
                      font: 15px $r500;
                      color: #506377;
                      padding-bottom: 0;
                    }
                  }
                }
              }

              .new-messages {
                font: 16px Roboto-Medium;
                border: 1px solid #0474f0;
                border-radius: 4px;
                background-color: #0474f0;
                margin-top: 50px;
                cursor: pointer;
                width: 183px;
                height: 48px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #fff;
                text-decoration: none;
              }
            }
            }
          }
        }
      }

      .footer-pages {

        .top-menu {

          .logo {

            img {

            }
          }

          ul {

            li {

              a {

              }
            }
          }

          .personal-account {

          }
        }

        .bottom-menu {

          ul {

            li {

              a {

              }
            }
          }

          .app-box {

            ul {

              li {

                a {

                  img {

                  }
                }
              }
            }
          }
        }

        .payment-logo {

          ul {

            li {

              img {

              }
            }
          }
        }
      }
    }
  }
