.contact-pages {

  .top-box {
    margin-top: 100px;
    h1{
      padding-top: 0;
      padding-bottom: 70px;
      font-family: $f100;
    }
      .contact-content {
        display: flex;
        justify-content: space-between;
        .list-contact {

          ul {

            li {
            display: flex;
              align-items: center;
              margin-bottom: 45px;
              img {

              }

              span {
                display: block;
                padding-left: 30px;
                font: 14px $r300;
                color: #506377;
                p , a{
                  text-decoration: none;
                  padding-top: 15px;
                  padding-bottom: 0;
                  font: 16px $r500;
                  color: #000000;
                }
                a{
                  &:hover{
                    color: #0474f0;
                  }
                  &:first-child{
                    padding-right: 40px;
                  }
                }
              }
            }
          }
        }

        .map-box {
          position: relative;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }

          span {
              background-color: rgb(255, 255, 255);
              box-shadow: 0px 17px 27px 0px rgba(1, 61, 127, 0.16);
              position: absolute;
              bottom: -25px;
              left: -25px;
              width: 142px;
              height: 58px;
            z-index: 3;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #0474f0;
            font: 16px $r500;

          }
        }
      }
  }

  .question {
    padding-top: 120px;
    .title-section {
      font: 48px $f100;
      color: #010101;
      padding-bottom: 55px;
    }

    .question--content {
      display: flex;
      .question--content--box {
        margin-right: 30px;
        ul {

          li {
            margin-bottom: 15px;
            &:last-child{
              margin-bottom: 0;
            }
            &.is-active{
              div {
                span{
                  transform: rotate(-135deg);
                  border-right: 2px solid #8a9098;
                  border-bottom:  2px solid #8a9098;
                }
              }
              p{
                display: block;
              }
            }
            div {
              display: flex;
              align-items: center;
              font: 14px $r500;
              color: #000000;
              border-radius: 4px;
              cursor: pointer;
              height: 60px;
              background-color: rgb(241, 247, 254);
              justify-content: space-between;
              padding: 0 22px;

              span {

                width: 10px;
                height: 10px;
                border-right: 2px solid rgb(4, 116, 240);
                border-bottom:  2px solid rgb(4, 116, 240);
                position: relative;
                transform: rotate(45deg);

              }
            }

            p {
              padding-top: 30px;
              padding-bottom:45px;
              font: 14px/1.6 $r300;
              color: #506377;
              display: none;
            }
          }
        }
      }

      .question--content--form {
        background-color: rgb(4, 116, 240);
        width: 470px;
        padding: 45px 70px 40px;
        min-width: 470px;
        height: 100%;
        span {
          text-align: center;
          color: #fff;
          display: block;
          font: 24px $r500;
        }

        form {
          display: flex;
          flex-direction: column;
          margin-top: 30px;
          input {
            color: #fff;
            font:14px $r300;
            background: transparent;
            border: none;
            border-bottom: 1px solid #fff;
            margin-bottom: 30px;
            height: 50px;
            &::placeholder{
              color: #fff;
              font:14px $r300;
            }
          }
          textarea{
            border: 1px solid #fff;
            padding: 25px;
            color: #fff;
            margin-top: 20px;
            font:14px $r300;
            background: transparent;
            height: 120px;
            &::placeholder{
              color: #fff;
              font:14px $r300;
            }
          }

          button {
            margin-top: 40px;
            border-radius: 4px;
            background-color: rgb(255, 255, 255);
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 60px;
            font: 14px $r500;
            color: #000000;
            border: none;

          }
        }
      }
    }
  }

  .icons-section {
    margin-top: 115px;
    margin-bottom: 115px;
    .title-section {
      font: 48px $f100;
      color: #010101;
      padding-bottom: 55px;
    }

      ul {
        display: flex;
        justify-content: space-between;
        margin-top: 65px;
        li {
          display: flex;
          align-items: center;
          flex-direction: column;
          width: 25%;
          position: relative;
          &:before{
            position: absolute;
            content:'';
            height: 30px;
            width: 53px;
            background: url("../img/icons_arrow.jpg")no-repeat;
            background-size: 100% 100%;
            top: 30px;
            right: -28px;
          }
          &:last-child{
            &:before{
              display: none;
            }
          }
          img {

          }

          span {
            display: block;
            text-align: center;
            padding-top: 25px;
            font: 16px $r500;
            color: #000000;
          }
        }
      }
  }
}