main.index-pages {

  .top-banner {
    background-image: url("../img/ib.jpg");
    background-size: cover;
    background-position: center;
    padding: 94px 0;
      .swiper-container {

        .swiper-wrapper {

          .swiper-slide {

            h1 {
              font: 48px $f100;
              color: #fff;
              max-width: 455px;
            }

            p {
              font: 14px/1.9 $f100;
              color: #fff;
              max-width: 620px;
              padding: 45px 0 80px;
            }
          }
        }
      }

      .button-box {
        display: flex;
        align-items: center;
        a {
          text-decoration: none;
          display: flex;
          align-items: center;
          justify-content: center;
            border-radius: 4px;
            background-color: rgb(255, 255, 255);
            width: 157px;
            height: 60px;
            font: 14px $r500;
          color: #0474f0;

        }

        .index-banner--slider_pagination {
            position: relative;
            margin-left: 55px;
          span{
            margin-right: 18px;
            background: #fff;
            cursor: pointer;
          }
        }
      }
  }

  .icons-section {
  padding: 75px 0;
      ul {
        display: flex;
        li {
          width: calc(100% / 4);
          flex-direction: column;
          align-items: center;
          display: flex;
          img {

          }

          span {
            font: 16px $r500;
            padding: 25px 0;
            display: block;
          }

          p {
            max-width: 150px;
            text-align: center;
            font: 16px $r300;
            padding: 0;
            color: #506377;
          }
        }
      }
  }

  .work-site {
    background-image:url("../img/site.jpg") ;
    background-position:top right;
    background-size: cover;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto  ;
    padding: 100px 0 150px;
      .work-site--content {
        width: 405px;
        margin-left: auto;
        margin-right: 45px;
        .title-section {
            font: 48px $f100;
            color: #fff;
            max-width: 455px;
        }

        p {
          font: 14px/1.9 $f100;
          color: #fff;
          max-width: 620px;
          padding: 35px 0 60px;
        }
        a {
          text-decoration: none;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 4px;
          background-color: rgb(255, 255, 255);
          width: 157px;
          height: 60px;
          font: 14px $r500;
          color: #0474f0;

        }
      }
  }

  .working-with {
    padding-top:  120px;
    .container {
      &:before{
        position: absolute;
        bottom: 0px;
        right:  0;
        background-size: cover;
        background-image: url("../img/fdfsd.jpg");
        content: '';
        width: 452px;
        height: 583px;
      }
      .working-with--content {
          max-width: 650px;
        .title-section {
          font: 48px $f100;
          color: #010101;
        }

        p {
          font: 14px/1.6 $f100;
          color: #506377;
          padding: 50px 0 60px;
          max-width: 350px;
        }
      }

      .button-box {
        display: flex;
        align-items: center;
        padding-bottom: 155px;
        a {
          box-shadow: 0px 17px 27px 0px rgba(1, 61, 127, 0.16);
          width: 157px;
          height: 60px;
          border-radius: 4px;
          display: flex;
          justify-content: center;
          margin-right: 25px;
          text-decoration: none;
          align-items: center;
          font: 14px $r500;
          color: #000000;
          background-color: rgb(241, 247, 254);
          &:hover{
            background-color: rgb(4, 116, 240);
            color: #fff;
            img{
              filter:  invert(1);
            }
          }

          img {
            margin-right: 15px;
          }
        }
      }
    }
  }

  .step-start {
    background: #f1f7fe;
    padding: 100px 0 130px;
    .container {

      .step-start--content {
        .title-pages{
          font: 48px $f100;
          color: #010101;
          padding-bottom: 55px;
        }
        ul {
          display: flex;
          justify-content: space-between;
          li {
              position: relative;
              background-color: rgb(255, 255, 255);
              box-shadow: 0px 17px 27px 0px rgba(1, 61, 127, 0.16);
            width: calc(100% / 4 - 22px);
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 205px;
            align-items: center;

            span {
              top: 15px;
              right: 15px;
              width: 42px;
              height: 42px;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              position: absolute;
              color: #fff;
              font: 16px $r600;
              background: #0474f0;
            }

            .img-box {
              margin-bottom: 15px;
              border-radius: 50%;

              img {

              }
            }

            p {
              padding: 0;
              text-align: center;
              color: #0474f0;
              font: 16px $r500;
            }
          }
        }
      }
    }
  }

  .question {
    padding-top: 100px;
      .title-section {
        font: 48px $f100;
        color: #010101;
      }

      .question--content {
        display: flex;
        .question--content--box {
          margin-right: 30px;
          ul {

            li {
              margin-bottom: 15px;
              &:last-child{
                margin-bottom: 0;
              }
              &.is-active{
                div {
                  span{
                    transform: rotate(-135deg);
                    border-right: 2px solid #8a9098;
                    border-bottom:  2px solid #8a9098;
                  }
                }
                p{
                  display: block;
                }
              }
              div {
                display: flex;
                align-items: center;
                font: 14px $r500;
                color: #000000;
                border-radius: 4px;
                cursor: pointer;
                height: 60px;
                background-color: rgb(241, 247, 254);
                justify-content: space-between;
                padding: 0 22px;

                span {

                    width: 10px;
                    height: 10px;
                  border-right: 2px solid rgb(4, 116, 240);
                  border-bottom:  2px solid rgb(4, 116, 240);
                  position: relative;
                  transform: rotate(45deg);

                }
              }

              p {
                padding-top: 30px;
                padding-bottom:45px;
                font: 14px/1.6 $r300;
                color: #506377;
                display: none;
              }
            }
          }
        }

        .question--content--form {
            background-color: rgb(4, 116, 240);
            width: 470px;
          padding: 45px 70px 40px;
          min-width: 470px;
          height: 100%;
          span {
            text-align: center;
            color: #fff;
            display: block;
            font: 24px $r500;
          }

          form {
            display: flex;
            flex-direction: column;
            margin-top: 30px;
            input {
              color: #fff;
              font:14px $r300;
              background: transparent;
              border: none;
              border-bottom: 1px solid #fff;
              margin-bottom: 30px;
              height: 50px;
              &::placeholder{
                color: #fff;
                font:14px $r300;
              }
            }
            textarea{
              border: 1px solid #fff;
              padding: 25px;
              color: #fff;
              margin-top: 20px;
              font:14px $r300;
              background: transparent;
              height: 120px;
              &::placeholder{
                color: #fff;
                font:14px $r300;
              }
            }

            button {
              margin-top: 40px;
                border-radius: 4px;
                background-color: rgb(255, 255, 255);
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
                height: 60px;
              font: 14px $r500;
              color: #000000;
              border: none;

            }
          }
        }
      }
  }

  .bottom-banner {
    margin-top: 120px;
    .container {
      background-image: url("../img/frrk.jpg");
      background-repeat: no-repeat;
      background-position:top right;
      .bottom-banner--content{
        max-width: 420px;
        padding: 75px 0;
        margin-right: 60px;
        margin-left: auto;
      }
      .section-title {
        font: 48px $f100;
        color: #fff;
      }

      p {
        color: #fff;
        padding: 40px 0 50px;
        font: 14px/1.8 $f100;
      }

      a {
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        background-color: rgb(255, 255, 255);
        width: 157px;
        height: 60px;
        font: 14px $r500;
        color: #0474f0;
      }
    }
  }

  .registration {
    background: #0474f0;
    padding: 100px 0 90px;
    margin-top: 130px;
      .registration--content {

        .title-section {
          font: 48px $f100;
          color: #fff;
        }

        p {
          color: #fff;
          padding: 40px 0 50px;
          font: 14px/1.8 $f100;
        }
      }

      form {

        .input-box{
          display: flex;
          justify-content: space-between;
          width: calc(50% - 30px);
          input {
            width: calc(50% - 30px);
          }
        }
        .input-row {
          display: flex;
          justify-content: space-between;
          input{
            width: calc(50% - 30px);
            border: none;
            color: #fff;
            font:14px $r300;
            background: transparent;
            border-bottom: 1px solid #fff;
            margin-bottom: 30px;
            height: 50px;
            &::placeholder{
              color: #fff;
              font:14px $r300;
            }
          }
          .input-label{
            position: relative;
            display: flex;
            align-items: center;

            label{
              color: #fff;
              display: flex;
              align-items: center;
              font: 14px $r300;
              &:before{
                width: 26px;
                height: 26px;
                border: 1px solid #fff;
                position: relative;
                content:'';
                display: block;
                min-width: 26px;
                margin-right: 15px;
              }
              &:after{
                width: 8px;
                height: 8px;
                position: absolute;
                top: calc(50% - 6px);
                left: 10px;
                transform: rotate(45deg);
                border-right: 2px solid #fff;
                border-bottom:  2px solid #fff;
                content:'';
                opacity: 0;
              }
            }
            input{
                  position: absolute;
              width: 100%;
              margin: 0;
              cursor: pointer;
              z-index: 2;
              height: 100%;
              opacity: 0;
              &:checked + label{
                &:after{
                  opacity: 1;
                }
              }
            }
          }
        }

        button {
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 4px;
          background-color: rgb(255, 255, 255);
          width: 180px;
          margin: 57px auto 0;
          height: 60px;
          font: 14px $r500;
          color: #000000;
          border: none;
        }
      }
  }

  .about-company {
    margin-top: 98px;
    margin-bottom: 120px;
    .container {

      .title-section {
        font: 48px $f100;
        color: #010101;
      }

      .about-company-content {
        margin-top: 70px;
        display: flex;
        justify-content: space-between;
        .text-box {
          width: calc(50% - 20px);
          p {
            color: #506377;
            font: 14px $r300;
            padding-top: 0;
            padding-bottom: 30px;
          }

          span {
            position: relative;
            font: 14px $r500;
            color: #0474f0;
            cursor: pointer;
            &:before{
              width:12px ;
              position: absolute;
              right: -26px;
              height: 1px;
              background: #0474f0;
              content:'';
              top: 50%;
            }
            &:after{
              position: absolute;
              right: -26px;
              height: 7px;
              top: calc(50% - 3px);
              width: 7px;
              border-right: 1px solid #0474f0;
              border-bottom: 1px solid #0474f0;
              content:'';
              transform: rotate(-45deg);
            }
          }
        }

        .img-box {
          width: calc(50% - 20px);
          img {
            width: 100%;
          }
        }
      }
    }
  }
}