.registration-pages {

  .authorizations--section {
    margin-top: 80px;
    margin-bottom: 100px;
    .authorizations--section__content {

      .authorizations-header {
        display: flex;
        align-items: center;
        h1 {
          padding: 0;
          font: 48px $f100;
          color: #010101;
        }

        a {
          color: #0474f0;
          position: relative;
          text-decoration: none;
          display: block;
          margin-left: 55px;
          font:14px $r500 ;
          &:before{
            width:12px ;
            position: absolute;
            right: -26px;
            height: 1px;
            background: #0474f0;
            content:'';
            top: 50%;
          }
          &:after{
            position: absolute;
            right: -26px;
            height: 7px;
            top: calc(50% - 3px);
            width: 7px;
            border-right: 1px solid #0474f0;
            border-bottom: 1px solid #0474f0;
            content:'';
            transform: rotate(-45deg);
          }
        }
      }

      .authorizations-form {
        background-image: url("../img/2334.jpg");
        background-position: left;
        background-repeat: no-repeat;
        margin-top: 50px;
        form {
          width: 500px;
          padding-bottom: 75px;
          padding-top: 65px;
          margin-left: 70px;
          .input-row{
            display: flex;
            justify-content: space-between;
            .input-box{
              width: calc(50% - 10px);
            }
          }

          .input-row--label {
            input{
              width: calc(50% - 30px);
              border: none;
              color: #fff;
              font:14px $r300;
              background: transparent;
              border-bottom: 1px solid #fff;
              margin-bottom: 30px;
              height: 50px;
              &::placeholder{
                color: #fff;
                font:14px $r300;
              }
            }
            .input-label{
              position: relative;
              display: flex;
              align-items: center;
              margin-bottom: 20px;

              label{
                color: #fff;
                display: flex;
                align-items: center;
                font: 14px $r300;
                &:before{
                  width: 26px;
                  height: 26px;
                  border: 1px solid #fff;
                  position: relative;
                  content:'';
                  display: block;
                  min-width: 26px;
                  margin-right: 15px;
                }
                &:after{
                  width: 8px;
                  height: 8px;
                  position: absolute;
                  top: calc(50% - 6px);
                  left: 10px;
                  transform: rotate(45deg);
                  border-right: 2px solid #fff;
                  border-bottom:  2px solid #fff;
                  content:'';
                  opacity: 0;
                }
              }
              input{
                position: absolute;
                width: 100%;
                margin: 0;
                cursor: pointer;
                z-index: 2;
                height: 100%;
                opacity: 0;
                &:checked + label{
                  &:after{
                    opacity: 1;
                  }
                }
              }
            }
          }
          input {
            width:100%;
            border: none;
            color: #fff;
            font:14px $r300;
            background: transparent;
            border-bottom: 1px solid #fff;
            margin-bottom: 30px;
            height: 50px;
            &::placeholder{
              color: #fff;
              font:14px $r300;
            }
          }


            button {
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 4px;
              background-color: rgb(255, 255, 255);
              width: 230px;
              height: 60px;
              margin-top: 45px;
              font: 14px $r500;
              color: #000000;
              border: none;
            }
        }
      }
    }
  }
}