<% var data = {
title: "Заголовок | Проект",
author: "Valera"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<main class="about-us">
    <section class="about-us-banner">
        <%= _.template(require('./../includes/breadcrumbs.html').default)(data) %>
        <div class="container">
            <div class="about-us-banner--content">
                    <h1>О компании</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
            </div>
        </div>
    </section>
    <section class="forex">
        <div class="container">
            <div class="forex-content">
                <div class="title-section">
                    Альфа Коин ЛТД —
                    лицензированный форекс-дилер
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, <a href="#">sed do eiusmod tempor incididunt </a> ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra
                    <a href="#">maecenas accumsan lacus</a> vel facilisis.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                </p>
            </div>
        </div>
    </section>
    <section class="center-banner">
        <div class="container">
            <div class="center-banner--content">
                <div class="center-banner--text">
                    <div class="title-section">
                        Заголовок
                        баннера
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                    </p>
                    <a href="#">Открыть счет</a>
                </div>
            </div>
        </div>
    </section>
    <section class="why">
        <div class="container">
            <div class="title-section">
                Почему нас выбирают?
            </div>
            <div class="why-content">
                <ul>
                   <li> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>

                    <li>Quis ipsum suspendisse ultrices gravida.</li>

                   <li> Risus commodo viverra maecenas <a href="#">accumsan lacus vel facilisis</a>. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>

                    <li>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</li>

                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</li>
                </ul>
                <ol>
                  <li>  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>

                 <li>  Quis ipsum suspendisse ultrices gravida.</li>

                  <li>  Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>

                   <li> Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</li>

                  <li>  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore </li>
                </ol>
            </div>
            <div class="why-box">
                <ul>
                    <li>
                        <img src="img/safe.jpg" alt="img">
                        <div class="title">Надёжно</div>
                        <p>Нам можно доверить большие депозиты. Принадлежность к одному из самых известных финансовых брендов создают основу для долгосрочных и доверительных отношений.</p>
                    </li>
                    <li>
                        <img src="img/umbrella.jpg" alt="img">
                        <div class="title">Защищено</div>
                        <p>Альфа-Форекс является лицензированным форекс-дилером. Торговля на Форекс и любые другие финансовые операции выполняются в строгом соответствии со стандартами Банка России и защищены  ...
                            российским законодательством.</p>
                    </li>
                    <li>
                        <img src="img/mastercard.jpg" alt="img">
                        <div class="title">Удобное пополнение</div>
                        <p>Используйте привычный Альфа-Клик, чтобы переводить средства быстро.</p>
                    </li>
                    <li>
                        <img src="img/globe.jpg" alt="img">
                        <div class="title">Доступно</div>
                        <p>Торгуйте везде, где есть интернет.
                            Нет ограничений по минимальной сумме ввода.</p>
                    </li>
                    <li>
                        <img src="img/medal.jpg" alt="img">
                        <div class="title">Безупречная репутация</div>
                        <p>Альфа-Форекс учреждён Альфа-Банком. На сотрудниках форекс-дилера лежит ответственность не только за сохранение доброго имени своей компании, но и за поддержание репутации бренда.</p>
                    </li>
                    <li>
                        <img src="img/improvement.jpg" alt="img">
                        <div class="title">Выгодные торговые условия</div>
                        <p>Мы делаем всё возможное, чтобы предложить клиентам самые привлекательные торговые условия.</p>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="work-site">
        <div class="container">
            <div class="work-site--content">
                <div class="title-section">
                    Зарабатывай
                    на нашем сайте
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                </p>
                <a href="#">
                    Открыть счет
                </a>
            </div>
        </div>
    </section>

    <section class="news">
        <div class="container">
            <div class="news-header">
                <div class="title-section">
                    Что нового
                </div>
                <a href="#">Все новости</a>
            </div>
           <div class="news-content">
               <ul>
                   <li>
                       <span><img src="img/calendar_1.jpg" alt="img">Изменения в расписании</span>
                       <div class="title">
                           Как мы работаем на майские праздники
                       </div>
                       <div class="fotter-box">
                           <div class="date">
                               19 апреля 2021
                           </div>
                           <a href="#">Подробнее</a>
                       </div>
                   </li>
                   <li>
                       <span><img src="img/chart.jpg" alt="img">Торговые условия</span>
                       <div class="title">
                           Изменение торговый условий на начало июля
                           а так же оплаты и вывода
                       </div>
                       <div class="fotter-box">
                           <div class="date">
                               19 апреля 2021
                           </div>
                           <a href="#">Подробнее</a>
                       </div>
                   </li>
               </ul>
           </div>
        </div>
    </section>

    <div class="currency-market">
        <div class="container">
            <div class="currency-market--content">
                <div class="title-section">
                    Валютный рынок Форекс
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                </p>
            </div>
        </div>
    </div>

    <section class="registration">
        <div class="container">
            <div class="registration--content">
                <div class="title-section">
                    Регистрация
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                </p>

            </div>
            <form action="">
                <div class="input-row">
                    <input type="text" placeholder="Ваше имя" required>
                    <input type="number" placeholder="Ваш номер телефона" required>
                </div>
                <div class="input-row">
                    <input type="email" placeholder="Ваше mail" required>
                    <div class="input-box">
                        <input type="text" placeholder="Пароль" required>
                        <input type="text" placeholder="Еще раз пароль" required>
                    </div>
                </div>
                <div class="input-row">
                    <div class="input-label">
                        <input type="radio" checked id="el1" name="registration">
                        <label for="el1">
                            Согласен с условиями Пользовательского соглашения
                        </label>
                    </div>
                    <div class="input-label">
                        <input type="radio" id="el2" name="registration">
                        <label for="el1">
                            Согласен с условиями Клиентского соглашения
                        </label>
                    </div>
                    <div class="input-label">
                        <input type="radio" id="el3" name="registration">
                        <label for="el1">
                            Согласен с условиями
                            Terms and Conditions  </label>
                    </div>
                </div>
                <button type="submit">Зарегистрироваться</button>
            </form>
        </div>
    </section>
</main>

<%= _.template(require('./../includes/footer.html').default)(data) %>