<% var data = {
title: "Заголовок | Проект",
author: "Valera"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<main class="authorizations-pages">
    <section class="authorizations--section">
        <div class="container">
            <div class="authorizations--section__content">
            <div class="authorizations-header">
                <h1>Авторизация</h1>
                <a href="#">Зарегистрироваться</a>
            </div>
                <div class="authorizations-form">
                    <form action="">
                        <input type="text" placeholder="Логин" required>
                        <input type="text" required placeholder="Пароль">
                        <div class="button-box">
                            <button type="submit">Войти</button>
                            <a href="#">Забыли пароль?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>

<%= _.template(require('./../includes/footer.html').default)(data) %>