<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, shrink-to-fit=no user-scalable=0" />

    <meta name="format-detection" content="telephone=no">
    <link rel="shortcut icon" href="favicon/favicon.ico" />
    <link rel="stylesheet" href="css/style.bundle.css" />

    <title>Alfa</title>
</head>
<body class="personal-area">
<header class="header-cabinet">
        <div class="header-content">
            <a href="/" class="logo">
                <img src="img/logo.jpg" id="logo" />
            </a>
            <div class="tel-box">
                <a href="#"><img src="img/tel.jpg" alt="img">7 (499) 215-79-79
                </a>
                <a href="#"><img src="img/tel.jpg" alt="img">8 (800) 100-62-02</a>
                <p>
                    с 7:00 до 23:00 МСК
                    <span>Звонок бесплатный</span>
                </p>
                <div class="lange-list">
                    <span class="is-active"><img src="img/ru.jpg" alt="img">Ru</span>
                    <span><img src="img/en.jpg" alt="img">En</span>
                </div>
            </div>

        </div>
</header>

<main>
<aside>
    <div class="aside-header">
        <div class="img-box">
            <img src="img/icons8_user.png" alt="img">
            <button><img src="img/set.png" alt="img"> </button>
        </div>
        <p>Андрей Новоселов</p>
    </div>
    <ul class="list">
        <li class="is-active"><img src="img/icons8_list.png" alt="img">Мои документы</li>
        <li><img src="img/icons8_plus.png" alt="img">Пополнить счет</li>
        <li><img src="img/icons8_minus.png" alt="img">Снять средства</li>
        <li><img src="img/icons8_increase.png" alt="img">Депозитные операции</li>
        <li><img src="img/icons8_user_shield.png" alt="img">Верификация</li>
        <li><img src="img/icons8_document.png" alt="img">Мои документы</li>
        <li><img src="img/icons822_name.png" alt="img">Личные данные</li>
        <li><img src="img/icons8_customer_support.png" alt="img">Поддержка</li>
    </ul>
</aside>
   <div class="personal-area--content">
       <section>
           <%= _.template(require('./../includes/breadcrumbs.html').default)(data) %>
       </section>
        <section>

            <div class="tab-container">
                <div class="tab-content ">
                    <div class="title">
                       <h2> Счета</h2>
                        <span class="open-count">
                           <span>+</span> Открыть счет
                        </span>
                    </div>
                    <div class="table-count">
                        <div class="table-count--header">
                           <p>  Счет</p>
                            <p> Тип счета</p>
                           <p>  Свободные сред. для работы</p>
                           <p>  Средства</p>
                           <p>  Залог</p>
                           <p>  Бонус</p>
                           <p>  Прибыль</p>
                        </div>
                        <ul>
                            <li>
                                <p>15908</p>
                                <p>Stock Exchenge</p>
                                <p>$ 0</p>
                                <p>$ 0</p>
                                <p>$ 0</p>
                                <p>$ 0</p>
                                <p>$ 0</p>
                                <span class="add-count">
                                    Пополнить счет
                                </span>
                            </li>
                            <li>
                                <p>15908</p>
                                <p>Stock Exchenge</p>
                                <p>$ 0</p>
                                <p>$ 0</p>
                                <p>$ 0</p>
                                <p>$ 0</p>
                                <p>$ 0</p>
                                <span class="add-count">
                                    Пополнить счет
                                </span>
                            </li>
                            <li>
                                <p>15908</p>
                                <p>Stock Exchenge</p>
                                <p>$ 0</p>
                                <p>$ 0</p>
                                <p>$ 0</p>
                                <p>$ 0</p>
                                <p>$ 0</p>
                                <span class="add-count">
                                    Пополнить счет
                                </span>
                            </li>
                            <li>
                                <p>15908</p>
                                <p>Stock Exchenge</p>
                                <p>$ 0</p>
                                <p>$ 0</p>
                                <p>$ 0</p>
                                <p>$ 0</p>
                                <p>$ 0</p>
                                <span class="add-count">
                                    Пополнить счет
                                </span>
                            </li>
                            <li>
                                <p>15908</p>
                                <p>Stock Exchenge</p>
                                <p>$ 0</p>
                                <p>$ 0</p>
                                <p>$ 0</p>
                                <p>$ 0</p>
                                <p>$ 0</p>
                                <span class="add-count">
                                    Пополнить счет
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tab-content ">
                    <div class="title">
                        <h2> Пополнить счет</h2>
                    </div>
                    <div class="upp-count">
                        <form action="/">
                            <div class="input-box">
                                <p>
                                    Выберите счет:
                                </p>
                                <div class="input-box">
                                    <select>
                                        <option value="4334523"> Счет: 4334523</option>
                                        <option value="543254"> Счет: 543254</option>
                                        <option value="5432534"> Счет: 5432534</option>
                                    </select>
                                </div>

                            </div>
                            <div class="input-row">
                                <div class="input-row--box">
                                    <p>Сумма платежа:</p>
                                    <div class="input-el">
                                        <input type="text">
                                        <span>₽</span>
                                    </div>
                                </div>
                                <div class="input-row--box">
                                    <p>Сумма к зачислению: <span>Текущий курс конверсии Rub <b>66</b> </span></p>
                                    <div class="input-el">
                                        <input type="text">
                                        <span>$</span>
                                    </div>
                                </div>
                            </div>
                            <p class="title-label">Выберите способ оплаты:</p>
                            <div class="input-row">
                                <div class="box-label">
                                    <input id="paymen1" type="radio" name="payment">
                                    <label for="paymen1"><img src="/img/46434.jpg" alt=""></label>
                                </div>
                                <div class="box-label">
                                    <input id="paymen2" type="radio" name="payment">
                                    <label for="paymen2"><img src="/img/3254.jpg" alt=""></label>
                                </div>
                                <div class="box-label">
                                    <input id="paymen3" type="radio" name="payment">
                                    <label for="paymen3"><img src="/img/3122.jpg" alt=""></label>
                                </div>
                                <div class="box-label">
                                    <input id="paymen4" type="radio" name="payment">
                                    <label for="paymen4"><img src="/img/43234.jpg" alt=""></label>
                                </div>
                                <div class="box-label">
                                    <input id="paymen5" type="radio" name="payment">
                                    <label for="paymen5"><img src="/img/234.jpg" alt=""></label>
                                </div>
                                <div class="box-label">
                                    <input id="paymen6" type="radio" name="payment">
                                    <label for="paymen6"><img src="/img/324324.jpg" alt=""></label>
                                </div>
                            </div>
                            <button type="submit">Далее</button>
                        </form>
                    </div>
                </div>
                <div class="tab-content ">
                    <div class="title">
                        <h2> Снять средства</h2>
                    </div>
                    <div class="upp-count">
                        <form action="/">
                            <div class="input-box">
                                <p>
                                    Выберите счет:
                                </p>
                                <div class="input-box">
                                    <select>
                                        <option value="4334523"> Счет: 4334523</option>
                                        <option value="543254"> Счет: 543254</option>
                                        <option value="5432534"> Счет: 5432534</option>
                                    </select>
                                </div>

                            </div>
                            <div class="input-row">
                                <div class="input-row--box">
                                    <p>Укажите сумму:</p>
                                    <div class="input-el">
                                        <input type="text">
                                        <span>₽</span>
                                    </div>
                                </div>
                            </div>
                            <button type="submit">Заказать</button>
                        </form>
                    </div>
                </div>
                <div class="tab-content ">
                    <div class="title">
                        <h2> Депозитные операции</h2>
                    </div>
                    <div class="deposit-table">
                        <div class="deposit-table--header">
                                <p> Account</p>
                                <p> Value</p>
                                <p> Status</p>
                                <p> Date</p>
                        </div>
                      <ul>
                          <li>
                              <p>Название акаунта</p>
                              <p>$0</p>
                              <span class="status-off">Отключенно</span>
                              <p>21.05.21</p>
                          </li>
                          <li>
                              <p>Название акаунта</p>
                              <p>$0</p>
                              <span class="status-on">Выполнено</span>
                              <p>21.05.21</p>
                          </li>
                          <li>
                              <p>Название акаунта</p>
                              <p>$0</p>
                              <span class="status-off">Отключенно</span>
                              <p>21.05.21</p>
                          </li>
                          <li>
                              <p>Название акаунта</p>
                              <p>$0</p>
                              <span class="status-moderation">На рассмотрении</span>
                              <p>21.05.21</p>
                          </li>
                          <li>
                              <p>Название акаунта</p>
                              <p>$0</p>
                              <span class="status-on">Выполнено</span>
                              <p>21.05.21</p>
                          </li>
                      </ul>
                    </div>
                </div>
                <div class="tab-content ">
                    <div class="title">
                        <h2>Верификация</h2>
                    </div>
                    <div class="content-box">
                        <div class="text-box">
                            <div class="title-box">
                                Вопросник инвестора
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit. sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </p>
                            <p>  Lorem ipsum dolor sit amet, consectetur.</p>
                        </div>
                        <div class="img-box">
                            <img src="img/221.jpg" alt="">
                        </div>
                    </div>
                    <div class="content-box content-box--left">
                        <div class="text-box">
                            <div class="title-box">
                                Идентификация личности
                            </div>
                         <p>   Lorem ipsum dolor sit amet, consectetur adipiscing elit. sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit. sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                          <p> Lorem ipsum dolor sit amet, consectetur.</p>

                          <p>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>


                        </div>
                        <div class="img-box">
                            <img src="img/2212.jpg" alt="">
                        </div>
                    </div>
                    <div class="content-box">
                        <div class="text-box">
                            <div class="title-box">
                                Кредитная карта
                            </div>
                          <p>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>

                        <p>    Risus commodo viverra maecenas accumsan lacus vel facilisis. sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit. sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                          <p>  Lorem ipsum dolor sit amet, consectetur.</p>

                         <p>   Lorem ipsum dolor sit amet, consectetur adipiscing elit. sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>


                        </div>
                        <div class="img-box">
                            <img src="img/321.jpg" alt="">
                        </div>
                    </div>
                    <div class="content-box content-box--left">
                        <div class="text-box">
                            <div class="title-box">
                                Подтверждение адреса
                            </div>
                            <p>Lorem ipsum dolor sit amet, us vel facilisis. sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit. sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                           <p> Lorem ipsum dolor sit amet, consectetur.</p>
                        </div>
                        <div class="img-box">
                            <img src="img/214.jpg" alt="">
                        </div>
                    </div>
                    <div class="download-document">
                        <div class="title-box">
                            Загрузить документы
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit. sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                        <form action="/">
                            <input type="file" id="files" name="files[]" multiple />
                            <output id="list"></output>
                            <label for="files">+</label>
                            <button type="submit">Загрузить</button>
                        </form>
                    </div>
                </div>
                <div class="tab-content ">
                    <div class="title">
                       <h2> Мои документы</h2>
                    </div>
                    <div class="document-content">

                        <div class="content-box">

                            <div class="download-document">
                                <div class="title-box">
                                    Загрузить документы
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Alias aliquam assumenda autem corporis cupiditate exercitationem
                                    expedita illum in iure minima nemo nobis placeat, praesentium quas quisquam quo sed sit voluptates.</p>
                                <ul class="document-img">
                                    <li><img src="img/pasport.jpg" alt=""></li>
                                    <li><img src="img/pasport.jpg" alt=""></li>
                                </ul>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="tab-content ">
                    <div class="title">
                       <h2> Личные данные</h2>
                        <div class="verification">
                            <p>Ваш аккаунт не верифицированн</p>
                            <span>Верифицировать</span>
                        </div>
                    </div>
                    <div class="personal-info">
                        <form action="/">
                            <div class="input-row">
                                <div class="input-box">
                                    <p>Имя:</p>
                                    <input value="" type="text">
                                </div>
                                <div class="input-box">
                                    <p>Адрес просписки:</p>
                                    <input type="text">
                                </div>
                            </div>
                            <div class="input-row">
                                <div class="input-box">
                                    <p>Фамилия:</p>
                                    <input value="" type="text">
                                </div>
                                <div class="input-box">
                                    <p>Город:</p>
                                    <input type="text">
                                </div>
                            </div>

                            <div class="input-row">
                                <div class="input-box">
                                    <p>Дата рождения:</p>
                                    <select >
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                    </select>
                                    <select >
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                    </select>
                                    <select >
                                        <option value="2000">2000</option>
                                        <option value="2001">2001</option>
                                        <option value="2002">2002</option>
                                    </select>
                                </div>
                                <div class="input-box">
                                    <p>Город:</p>
                                    <input type="text">
                                </div>
                            </div>

                            <div class="input-row">
                                <div class="input-box">
                                    <p>Телефон:</p>
                                    <input value="" type="text">
                                </div>
                                <div class="input-box">
                                    <p>E-mail:</p>
                                    <input type="email">
                                </div>
                            </div>
                            <div class="input-row">
                                <div class="input-box">
                                    <p>ZIP code::</p>
                                    <input value="" type="text">
                                </div>
                                <div class="input-box">
                                   <div class="button-box">
                                       <span>Подтвердите свои данные</span>
                                       <button  type="submit">Сохранить</button>
                                   </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="tab-content is-active">
                    <div class="title">
                       <h2> Поддержка</h2>
                    </div>
                    <div class="support-content">
                        <ul>
                            <li class="user-sms">
                                <div class="img-box">
                                    <img src="img/stilnyj-muzhchina.jpg" alt="">
                                </div>
                                <div class="text-box">
                                    <div class="text-box--header">
                                        <p>Ваш вопрос</p><span>16 мая 2021 в 13:51</span>
                                    </div>
                                    <p>Здравствуйте. Почему я не могу вывести деньги? Несколько раз пробовал, выдает ошибку. Что делать?</p>
                                </div>
                            </li>
                            <li class="support-sms">
                                <div class="img-box">
                                    <img src="img/s.jpg" alt="">
                                </div>
                                <div class="text-box">
                                    <div class="text-box--header">
                                        <p>Менеджер AlfaCoinLTD</p><span>16 мая 2021 в 13:51</span>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                                </div>
                            </li>
                        </ul>
                        <div class="new-messages">
                            Новое сообщение
                        </div>
                    </div>
                </div>
            </div>
        </section>

       <footer class="footer-pages">
           <div class="top-menu">
               <a href="#" class="logo">
                   <img src="img/logo.jpg" alt="img">
               </a>
               <ul>
                   <li><a href="#">О нас</a></li>
                   <li><a href="#">Контакты</a></li>
               </ul>
               <a class="personal-account" href="#">
                   Личный кабинет
               </a>
           </div>
           <div class="bottom-menu">
               <ul>
                   <li><a href="#">AML & Privacy Policy (pdf)</a></li>
                   <li><a href="#">Consent to personal data processing (pdf)</a></li>
                   <li><a href="#">Offerta</a></li>
                   <li><a href="#">Terms and Conditions</a></li>
               </ul>
               <div class="app-box">
                   <ul>
                       <li><a href="#"><img src="img/apple.png" alt="img"></a></li>
                       <li><a href="#"><img src="img/play.png" alt="img"></a></li>
                       <li><a href="#"><img src="img/win.png" alt="img"></a></li>
                   </ul>
               </div>
           </div>
           <div class="payment-logo">
               <ul>
                   <li><img src="img/46434.jpg" alt="img"></li>
                   <li><img src="img/3254.jpg" alt="img"></li>
                   <li><img src="img/3122.jpg" alt="img"></li>
                   <li><img src="img/43234.jpg" alt="img"></li>
                   <li><img src="img/234.jpg" alt="img"></li>
                   <li><img src="img/324324.jpg" alt="img"></li>
                   <li><img src="img/3423.jpg" alt="img"></li>
                   <li><img src="img/3344.jpg" alt="img"></li>
                   <li><img src="img/23534.jpg" alt="img"></li>
                   <li><img src="img/4refwr.jpg" alt="img"></li>
                   <li><img src="img/42543254.jpg" alt="img"></li>
                   <li><img src="img/2432.jpg" alt="img"></li>
               </ul>
           </div>
       </footer>
   </div>
</main>
<script src="js/bundle.js"></script>
</body>
</html>

