<% var data = {
title: "Заголовок | Проект",
author: "Valera"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>


<main class="contact-pages">
    <section>
        <%= _.template(require('./../includes/breadcrumbs.html').default)(data) %>
    </section>
    <section class="top-box">
        <div class="container">
            <h1>
                Контакты
            </h1>
            <div class="contact-content">
                <div class="list-contact">
                    <ul>
                        <li>
                            <img src="img/marker_1.jpg" alt="img">

                            <span>
                                Адрес регистрации
                                <p>г. Москва, ул. Маши Порываевой, д. 7, стр 1, эт. 1</p>
                            </span>
                        </li>
                        <li>
                            <img src="img/phone_1.jpg" alt="img">

                            <span>
                                Телефоны для связи
                                <p>
                                    <a href="#">+7 (499) 215-79-79          </a>
                                    <a href="#">8 (800) 100-62-02</a>
                                </p>
                            </span>
                        </li>
                        <li>
                            <img src="img/clock.jpg" alt="img">

                            <span>
                                Время работы
                                <p>Пн — Пт: с 07:00 до 23:00    Сб - Вс: с 9:00 до 20:00</p>
                            </span>
                        </li>
                        <li>
                            <img src="img/gmail.jpg" alt="img">

                            <span>
                                E-mail
                                <p><a href="#">client@alfa.forex</a></p>
                            </span>
                        </li>
                        <li>
                            <img src="img/male_1.jpg" alt="img">

                            <span>
                                Руководитель
                                <p>Смирнов Андрей Иванович</p>
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="map-box">
                    <img src="img/marker_2.jpg" alt="img">
                    <span>Мы на карте</span>
                </div>
            </div>
        </div>
    </section>
    <section class="question">
        <div class="container">
            <div class="title-section">
                Часто задаваемые вопросы
            </div>
            <div class="question--content">

                <div class="question--content--box">
                    <ul>
                        <li class="is-active">
                            <div>Один из часто-задаваемых вопросов?<span></span></div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                            </p>
                        </li>
                        <li>
                            <div>Один из часто-задаваемых вопросов?<span></span></div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                            </p>
                        </li>
                        <li>
                            <div>Один из часто-задаваемых вопросов?<span></span></div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                            </p>
                        </li>
                        <li>
                            <div>Один из часто-задаваемых вопросов?<span></span></div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                            </p>
                        </li>
                        <li>
                            <div>Один из часто-задаваемых вопросов?<span></span></div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="question--content--form">
                    <span>Свяжитесь с нами</span>
                    <form action="">
                        <input type="text" required placeholder="Ваше имя">
                        <input type="email" required placeholder="Ваш e-mail">
                        <textarea placeholder="Текст сообщения"></textarea>
                        <button type="submit">Отправить</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="icons-section">
        <div class="container">
            <div class="title-section">
                Зарабатывайте с нами
            </div>
            <ul>
                <li>
                    <img src="img/safe.jpg" alt="img">
                    <span>Ликвидность</span>
                </li>
                <li>
                    <img src="img/smartphone_tablet.jpg" alt="img">
                    <span>Мобильность</span>
                </li>
                <li>
                    <img src="img/seli.jpg" alt="img">
                    <span>Направленность рынка</span>
                </li>
                <li>
                    <img src="img/payment_history.jpg" alt="img">
                    <span>Доступно</span>
                </li>
            </ul>
        </div>
    </section>
</main>


<%= _.template(require('./../includes/footer.html').default)(data) %>