<% var data = {
  title: "Заголовок | Проект",
  author: "Valera"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<main class="index-pages">
  <section class="top-banner">
      <div class="swiper-container index-banner--slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="container">
              <h1>Интернет-трейдинг
                на рынке Forex</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="container">
              <h1>Интернет-трейдинг
                на рынке Forex</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="container">
              <h1>Интернет-трейдинг
                на рынке Forex</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
            </div>
          </div>
        </div>
      </div>
    <div class="container">
      <div class="button-box">
        <a href="#">Открыть счет</a>
        <div class="index-banner--slider_pagination swiper-pagination"></div>
      </div>
    </div>
  </section>
  <section class="icons-section">
    <div class="container">
      <ul>
        <li>
          <img src="img/def.jpg" alt="img">
          <span>Надёжно</span>
            <p>
              Являемся частью
              банковской группы
            </p>
        </li>
        <li>
          <img src="img/seli.jpg" alt="img">
          <span>Выгодно</span>
          <p>
            Привлекательные
            условия торговли
          </p>
        </li>
        <li>
          <img src="img/pri.jpg" alt="img">
          <span>Удобно</span>
          <p>
            Перевод через
            приложение без комиссий
          </p>
        </li>
        <li>
          <img src="img/nout.jpg" alt="img">
          <span>Доступно</span>
          <p>
            Все операции
            проходят онлайн</p>
        </li>
      </ul>
    </div>
  </section>
  <section class="work-site">
    <div class="container">
      <div class="work-site--content">
        <div class="title-section">
          Зарабатывай
          на нашем сайте
        </div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
        </p>
        <a href="#">
          Открыть счет
        </a>
      </div>
    </div>
  </section>
  <section class="working-with">
    <div class="container">
        <div class="working-with--content">
          <div class="title-section">
            Работайте с нами.
            Удобно. Безопасно. Надёжно
          </div>
          <p>Информативный сайт и защищённый личный кабинет.
            Деньги на номинальном счёте.
            Торговый терминал, к которому вы привыкли</p>
        </div>
      <div class="button-box">
        <a href=""><img src="img/apple.png" alt="img">App Store</a>
        <a href=""><img src="img/play.png" alt="img">Play Market</a>
        <a href=""><img src="img/win.png" alt="img">For Windows</a>
      </div>
    </div>
  </section>
  <section class="step-start">
    <div class="container">
      <div class="step-start--content">
        <div class="title-pages">
          4 шага чтобы начать
        </div>
        <ul>
          <li>
            <span>1</span>
            <div class="img-box">
              <img src="img/gdgs.jpg" alt="img">
            </div>
            <p>
              Регистрация
            </p>
          </li>
          <li>
            <span>2</span>
            <div class="img-box">
              <img src="img/frefwe.jpg" alt="img">
            </div>
            <p>
              Пополнение счета
            </p>
          </li>
          <li>
            <span>3</span>
            <div class="img-box">
              <img src="img/frewer.jpg" alt="img">
            </div>
            <p>
              Верификация
            </p>
          </li>
          <li>
            <span>4</span>
            <div class="img-box">
              <img src="img/fdsfd.jpg" alt="img">
            </div>
            <p>
              Начало торговли
            </p>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="question">
    <div class="container">
      <div class="title-section">
        Часто задаваемые вопросы
      </div>
      <div class="question--content">

        <div class="question--content--box">
          <ul>
            <li class="is-active">
              <div>Один из часто-задаваемых вопросов?<span></span></div>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
              </p>
            </li>
            <li>
              <div>Один из часто-задаваемых вопросов?<span></span></div>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
              </p>
            </li>
            <li>
              <div>Один из часто-задаваемых вопросов?<span></span></div>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
              </p>
            </li>
            <li>
              <div>Один из часто-задаваемых вопросов?<span></span></div>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
              </p>
            </li>
            <li>
              <div>Один из часто-задаваемых вопросов?<span></span></div>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
              </p>
            </li>
          </ul>
        </div>
        <div class="question--content--form">
          <span>Свяжитесь с нами</span>
          <form action="">
            <input type="text" required placeholder="Ваше имя">
            <input type="email" required placeholder="Ваш e-mail">
            <textarea placeholder="Текст сообщения"></textarea>
            <button type="submit">Отправить</button>
          </form>
        </div>
      </div>
    </div>
  </section>
  <section class="bottom-banner">
    <div class="container">
      <div class="bottom-banner--content">
        <div class="section-title">
          Заголовок
          баннера
        </div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
        </p>
        <a href="#">Открыть счет</a>
      </div>

    </div>
  </section>
  <section class="registration">
    <div class="container">
      <div class="registration--content">
        <div class="title-section">
          Регистрация
        </div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
        </p>

      </div>
      <form action="">
        <div class="input-row">
          <input type="text" placeholder="Ваше имя" required>
          <input type="number" placeholder="Ваш номер телефона" required>
        </div>
        <div class="input-row">
          <input type="email" placeholder="Ваше mail" required>
        <div class="input-box">
          <input type="text" placeholder="Пароль" required>
          <input type="text" placeholder="Еще раз пароль" required>
        </div>
        </div>
        <div class="input-row">
          <div class="input-label">
            <input type="radio" checked id="el1" name="registration">
            <label for="el1">
              Согласен с условиями Пользовательского соглашения
             </label>
          </div>
          <div class="input-label">
            <input type="radio" id="el2" name="registration">
            <label for="el1">
              Согласен с условиями Клиентского соглашения
             </label>
          </div>
          <div class="input-label">
            <input type="radio" id="el3" name="registration">
            <label for="el1">
             Согласен с условиями
              Terms and Conditions  </label>
          </div>
        </div>
        <button type="submit">Зарегистрироваться</button>
      </form>
    </div>
  </section>
  <section class="about-company">
    <div class="container">
      <div class="title-section">О нашей компании</div>
      <div class="about-company-content">
        <div class="text-box">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>

         <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>

         <p> Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>

          <span>Подробнее</span>
        </div>
        <div class="img-box">
          <img src="img/errgfer.jpg" alt="img">
        </div>
      </div>
    </div>
  </section>
</main>

<%= _.template(require('./../includes/footer.html').default)(data) %>