<% var data = {
title: "Заголовок | Проект",
author: "Valera"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<main class="registration-pages">
    <section class="authorizations--section">
        <div class="container">
            <div class="authorizations--section__content">
                <div class="authorizations-header">
                    <h1>Регистрация</h1>
                    <a href="#">Вы уже зарегистрированны?</a>
                </div>
                <div class="authorizations-form">
                    <form action="">
                      <div class="input-row">
                          <div class="input-box">
                              <input type="text" required placeholder="Имя">
                          </div>
                          <div class="input-box">
                                <input type="text" required placeholder="Фамилия">
                          </div>
                      </div>
                        <div class="input-row">
                            <input type="email" required placeholder="Ваш -mail">
                        </div>
                        <div class="input-row">
                            <input type="number" required placeholder="Ваш номер телефона">
                        </div>
                        <div class="input-row">
                            <div class="input-box">
                                <input type="text" required placeholder="Пароль">
                            </div>
                            <div class="input-box">
                                <input type="text" required placeholder="Еще раз пароль">
                            </div>
                        </div>
                        <div class="input-row--label">
                            <div class="input-label">
                                <input type="radio" checked id="el1" name="registration">
                                <label for="el1">
                                    Согласен с условиями Пользовательского соглашения
                                </label>
                            </div>
                            <div class="input-label">
                                <input type="radio" id="el2" name="registration">
                                <label for="el1">
                                    Согласен с условиями Клиентского соглашения
                                </label>
                            </div>
                            <div class="input-label">
                                <input type="radio" id="el3" name="registration">
                                <label for="el1">
                                    Согласен с условиями
                                    Terms and Conditions  </label>
                            </div>
                        </div>
                            <button type="submit">Зарегистрироваться</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>

<%= _.template(require('./../includes/footer.html').default)(data) %>