.breadcrumbs {

    ul {
      display: flex;
      align-items: center;
      li {
      position: relative;
        padding-right: 40px;

        &:before{
          width: 6px;
          height: 6px;
          border-right: 1px solid #506377;
          border-bottom: 1px solid #506377;
          position: absolute;
          content:'';
          top: calc(50% - 4px);
          right: 20px;
          transform: rotate(-45deg);
        }
        &:last-child{
          &:before{
            display: none;
          }
        }
        a {
          font: 14px $r500;
          color: #506377;
          text-decoration: none;
          &:hover{
            border-bottom: 1px solid #506377;
          }
          img {

          }
        }
      }
    }
}